/* ================================================================
   General template styling
   ================================================================ */

*{
   /* font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* prevent callout when holding tap on links (the native dialog that comes up) */
    -webkit-touch-callout: none; 

    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none; 

    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
}

// Prevent glow on buttons
input, textarea, select, a, button {
    outline: none;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: red;
}

// For vertically and horizontally centering elements
.table{
    display: table;
    margin: 0 auto;

    li{
        display: inline-block;
    }

    .row{
        display: table-row;
        text-align: center;
        
        .cell{
            display: table-cell;
            vertical-align: middle;
        }
    }
}

// Generic block item
.block-item{
    float: left;
    width: 100%;
}